<div>
    <h1 class="page-header">Dashboard</h1>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading finger">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-magic fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Create Ticket</div>
                            <div><i class="fa fa-arrow-right fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading finger">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-flag fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>New Sprint</div>
                            <div><i class="fa fa-arrow-right fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-orange">
                <div class="panel-heading finger">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Browse Tickets</div>
                            <div><i class="fa fa-arrow-right fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading finger">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bug fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Report a Bug</div>
                            <div><i class="fa fa-arrow-right fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Tickets Summary</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-history"></i> Recent Tickets</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>