<div>
    <h1 class="page-header">Search <small>for {{type}}</small></h1>
    <div id="alert-container"></div>
    <form class="form-horizontal" role="search">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <br>
    <div ng-switch="type">
        <div ng-switch-when="tickets">
            <div ng-include="'partials/pagination/tickets.html'"></div>
            <div ng-include="'partials/tables/tickets.html'"></div>
            <div ng-include="'partials/pagination/tickets.html'"></div>
        </div>
        <div ng-switch-when="sprints">
            <div ng-include="'partials/tables/sprints.html'"></div>
        </div>
        <div ng-switch-default></div>
    </div>
</div>