<div>
    <h1 class="page-header">Search <small>for {{type}}</small></h1>
    <div id="alert-container"></div>
    <form class="form-horizontal" role="search">
        <div class="input-group">
            <div class="input-group-addon" ng-click="searchByName(query)"><i class="fa fa-search"></i></div>
            <input type="text" ng-model="query" class="form-control" placeholder="Search">
        </div>
    </form>
    <br>
    <div ng-switch="type">
        <div ng-switch-when="tickets">
            <div ng-show="tickets.length > 0" ng-include="'partials/pagination/tickets.html'"></div>
            <div ng-show="tickets.length > 0" ng-include="'partials/tables/tickets.html'"></div>
            <div ng-show="tickets.length > 0" ng-include="'partials/pagination/tickets.html'"></div>
            <div ng-hide="tickets.length > 0">
                <i class="fa fa-warning"></i> No tickets match your request!
            </div>
        </div>
        <div ng-switch-when="sprints">
            <div ng-include="'partials/tables/sprints.html'"></div>
        </div>
        <div ng-switch-default></div>
    </div>
</div>